@use "sass:math";
@use "sass:list";
@use "mixin" as *;
@media (min-width: 1200px) {
	.site-nav, .nav--lv1 {
		height: 100%;
	}
}
@media (max-width: 1440px) {
	.site-nav .site-nav__link--main {
		padding-inline: 12px;
	}
	#header-sticky .site-nav__link--main {
		padding-inline: 10px;
	}
}
.header-contact {
	.header-contact-item {
		&:not(:last-child) {
			margin-inline-end: 3rem;
			@media (max-width: 991px) {
				margin-inline-end: 1rem;
			}
		}
		&:hover i {
			animation: phone 1s linear infinite;
		}
	}
	a {
		font-size: 10px;
		font-weight: 500;
	}
	i {
		margin-inline-end: 8px;
		font-size: 15px;
	}
}
.header-top-icon-text {
	width: 15px;
	margin-inline-end: 6px;
}
.header-top {
	.header-link-item{
		position: relative;
		padding: 10px 0;
		&:not(:last-child) {
			margin-inline-end: 2rem;
		}
		&:after {
			content: '';
			position: absolute;
			inset-inline-start: 0;
			bottom: -1px;
			width: 0%;
			height: 1px;
			background-color: var(--color-text);
			transition: width var(--animation-speed);
		}
		a {
			color: var(--color-text);
		}
		&:hover{
			&::after {
				width: 100%;
			}
			a {
				color: var(--color-hover);
			}
		}
	} 
	.block_social::after {
		content: '';
		display: block;
		clear: both;
		width: 1px;
		height: 50%;
		background-color: var(--color-text);
		z-index: 9;
		position: absolute;
		inset-inline-end: 0;
		top: 50%;
		@include translateY(-50%);
	}
	.header_text {
		.highlight {
			min-width: 40px;
			min-height: 10px;
			line-height: 10px;
			text-align: center;
			margin-inline-end: 8px;
		}
		@media (max-width: 991px) {
			border-top: 1px solid var(--color-border);
    	padding: 10px 0;
		}
	}
}
.site-header__search {
	.search-header__content {
		display: flex
	}
	.search-header__submit {
		height: 40px;
		min-width: 120px;
		padding: 0 2.5rem;
	}
	.search-header__submit .search-header__submit-text {
		display: block !important;
		position: relative
	}
	
	.search-header__submit .search-header__submit-icon {
		position: relative
	}
	
	@media (max-width: 1199px) {
		.search-header__submit {
    	padding: 0;
			.search-header__submit-text {
				display: none !important;
			}
			.search-header__submit-icon {
				margin-inline-end: 0;
			}
			&.text {
				min-width: 120px;
			}
			&.icon {
				min-width: 40px;
			}
		}
	}
}

@media(min-width: 1441px) {
	.search_autocomplete {
		max-width:100%;
		inset-inline-start: 0 !important;
		border-radius: 3px
	}
}
.header-cart {
  &.type_text {
    .site-header__cart-icon {
			border: 1px solid rgba(255, 255, 255, 0.1);
			background-color: rgba(0, 0, 0, 0.1);
			min-width: 130px;
			min-height: 50px;
			align-items: center;
			border-radius: 40px;
			& > span {
				font-size: 14px;
			}
			.site-header__cart-count {
				position: initial;
				width: 2rem;
				height: 2rem;
				font-size: 12px;
			}
			&:hover {
				border-color: var(--color-button-border) !important;
				background-color: var(--color-button) !important;
				color: var(--color-button-text);
				.site-header__cart-count {
					color: var(--color-button-text-hover);
					background-color: var(--color-button-hover);
				}
			}
		}
		@media (max-width: 991px) {
			.site-header__cart-icon {
				border: none;
				background-color: transparent;
				min-width: initial;
				min-height: initial;
				align-items: center;
				border-radius: 0;
				span.cart_text {
					display: none;
				}
				.site-header__cart-count {
					position: absolute;
    			inset-block-start: -6px;
    			inset-inline-end: -8px;
				}
			}
		}
  }
}
@media (max-width: 1199px){
	#header-sticky .bl_content {
		padding-inline-start: 4.5rem;
	}
}