@use "sass:math";
@use "sass:list";
@use "mixin" as *;

@media (min-width: 768px) {
	.template-index .site-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		background: transparent;
	}
}
.header-content {
	padding: 30px 0;
}
.header-right-wrapper {
	gap: 16px;
}
.header-group-item>div:not(:last-child) {margin-inline-end: 2rem;}
.btn-vertical {
	position: relative;
	width: 48px;
	height: 48px;
	min-width: 48px;
	border-radius: 50%;
	background-color: var(--color-button);
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color var(--animation-speed) ease;
	&::before {
		content: "";
    position: absolute;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-radius: 100%;
    top: -6px;
    left: -6px;
    background-color: rgba(var(--color-button-rgb), 0.1);
		animation-duration: 1.2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	&:hover {
		background-color: var(--color-button-hover);
		.icon {
			span,
			&:before,
			&:after {
				background-color: var(--color-button-text-hover);
			}
		}
		&:before {
    	animation-name: AnimationBtn;
		}
	}
	.icon {
		width: 16px;
		height: 14px;
		position: relative;
		display: inline-block;
		span,
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			height: 2px;
			background-color: var(--color-button-text);
			border-radius: 2px;
			transition: all var(--animation-speed) ease;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
			width: 16px;
		}
		&:before {
			top: 0;
			width: 16px;
		}
		&:after {
			bottom: 0;
			width: 16px;
		}
	}
}
.header-pill-wrapper {
	gap: 7.7rem;
	background-color: var(--color-button);
	border-radius: 50px;
	padding: 0 20px;
	padding-inline-end: 5px;
}
.nav--lv1:hover .nav-dropdown--lv1 {
	top: calc(100% - 30px);
	box-shadow: 6px 5px 11px 0 rgba(0, 0, 0, 0.1);
}
.site-header__cart-icon {
	@include square(5rem);
	background-color: #f2f2f2;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color var(--animation-speed) ease;
	&:hover {
		background-color: var(--color-hover);
		i {
			color: var(--color-secondary-button-text) !important;
		}
	}
}
.WishlistCount, .site-header__cart .site-header__cart-count {
	min-width: 17px;
	height: 17px;
	font-size: 12px;
	font-weight: 200;
	border-color: var(--color-secondary-button-border);
	background-color: var(--color-secondary-button);
	color: var(--color-secondary-button-text);
}
.WishlistCount {
	inset-block-start: -13px;
	inset-inline-end: 14px;
}
.site-header__cart .site-header__cart-count {
	inset-block-start: 0;
	inset-inline-end: 33px;
}
@media (min-width: 1200px) {
	.site-nav, .nav--lv1 {
		height: 100%;
	}
}

@media (max-width: 1440px) {
	.contentsticky_menu .site-nav .site-nav__link--main {
		padding-inline: 10px;
	}
	.header-pill-wrapper {
		padding: 6px 16px;
	}
}