@use "sass:math";
@use "sass:list";
@use "mixin" as *;
.template-index .header-content {
	padding-inline: 4rem;
}
@media (min-width: 1200px) {
	.site-nav, .nav--lv1 {
		height: 100%;
	}
	.contentsticky_logo {
		padding-block: 2.7rem;
	}
}
@media (max-width: 1440px) {
	.site-nav .site-nav__link--main {
		padding-inline: 12px;
	}
	#header-sticky .site-nav__link--main {
		padding-inline: 10px;
	}
}