.lang-rtl {
	body {
		text-align: right;
	}
	.nav {
		padding-inline-end: 0;
	}
	.list-unstyled, .list-inline {
		padding-inline-end: 0;
	}
	.canvas-menu {
		.site-nav>li>.mm-next:after {
			-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
		.site-nav__dropdown {
			left: 0;
		}
	}
	.text-right {
		text-align: left !important;
	}
	.text-left {
		text-align: right !important;
	}
	@media(min-width: 576px) {
		.text-sm-right {
			text-align: left !important;
		}
		.text-sm-left {
			text-align: right !important;
		}
		.text-sm-center {
			text-align: center !important;
		}
	}
	@media(min-width: 768px) {
		.text-md-right {
			text-align: left !important;
		}
		.text-md-left {
			text-align: right !important;
		}
		.text-md-center {
			text-align: center !important;
		}
	}
	@media(min-width: 992px) {
		.text-lg-right {
			text-align: left !important;
		}
		.text-lg-left {
			text-align: right !important;
		}
		.text-lg-center {
			text-align: center !important;
		}
	}
	@media(min-width: 1200px) {
		.text-xl-right {
			text-align: left !important;
		}
		.text-xl-left {
			text-align: right !important;
		}
		.text-xl-center {
			text-align: center !important;
		}
	}
	@media (max-width: 991px) {
		body {
			.canvas-overlay, .sidebar-overlay {
				right: 0;
				left: 0;
			}
		}
	}
	@media (max-width: 767px) {
		.canvas-menu .site-nav>li>.mm-next:after {
			-webkit-transform: rotate(-135deg);
			transform: rotate(-135deg);
		}
	}
	.zmdi-caret-right:before {
		content:"\f2f4";
	}
	.zmdi-caret-left:before {
		content:"\f2f6";
	}
	.zmdi-chevron-left:before {
		content:"\f2fb";
	}
	.zmdi-chevron-right:before {
		content:"\f2fa";
	}
	.zmdi-long-arrow-left:before {
		content:"\f301";
	}
	.zmdi-long-arrow-right:before {
		content:"\f2ff";
	}
	.zmdi-arrow-left:before {
		content:"\f2ee";
	}
	.zmdi-arrow-right:before {
		content:"\f2ea";
	}
	.fa-long-arrow-left:before {
		content:"\f178";
	}
	.fa-long-arrow-right:before {
		content:"\f177";
	}
	.rbb-icon-direction-36:before {
		content: "\e9fb";
	}
	.rbb-icon-direction-39:before {
		content: "\e9f8";
	}
	.rbb-icon-direction-711, .rbb-icon-direction-55 {
		transform: rotate(180deg);
	}
}